* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  color: #fff;
}
.paragraph {
  margin: 0;
  padding: 0;
}
.link {
  color: #fff;
  text-decoration: none;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list__element {
  padding: 0;
  margin: 0;
}
.menu {
  background-color: #303241;
  height: 100vh;
  position: fixed;
  width: 280px;
}
.menu-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.menu-logo-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
}
.menu-link {
  display: block;
}
.menu-logo-wrapper1 {
  display: flex;
  align-items: flex-end;
  width: 138px;
  justify-content: space-between;
}
.menu-link__image {
  width: 40px;
  height: 9px;
}
.menu-link__text1 {
  height: 16px;
  font-size: 10px;
}
.menu-link__text2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.line {
  height: 2px;
  width: 100%;
  background-color: #414350;
}
/* menu-list 1 level */
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu-list__icon {
  transform: rotate(180deg);
  fill: #fff;
  transition: .4s;
}
.menu-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.menu-list__link {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}
.menu-list__element:hover {
  cursor: pointer;
}
.menu-list__element:hover .menu-list__text {
  cursor: pointer;
}
.menu-list__element:hover .menu-list__icon {
  cursor: pointer;
}
.menu-list__text {
  text-transform: uppercase;
  display: block;
  flex-grow: 1;
}
/* menu-list 2 level */
.menu-list2 {
  display: none;
  flex-direction: column;
}
.menu-list2__element {
  display: flex;
  transition: .4s;
}
.line-vertical {
  visibility: hidden;
  width: 2px;
  background-color: #6e6fff;
}
.menu-list2__link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-list2__icon {
  fill: #7b7b87;
}
.menu-list2__text {
  color: #7b7b87;
  transition: .4s;
}
.menu-list2__element:hover {
  transition: .4s;
  background-color: #373948;
}
.menu-list2__element:hover .line-vertical {
  visibility: visible;
}
.menu-list2__element:hover .menu-list2__icon {
  fill: #6e6fff;
}
.menu-list2__element:hover .menu-list2__text {
  color: #fff;
  transition: .4s;
}
.menu-list2-show ~ .menu-list2 {
  display: flex;
  animation: openMenu .4s linear 0s 1 forwards;
}
.menu-list2-show .menu-list__icon {
  transform: rotate(0deg);
  transition: .4s;
}

/* mail */
.menu-wrapper-position {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.menu-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-mail__text {
  color: #7b7b87;
}
/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #7b7b87;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 2px;
  bottom: 2px;
  background-color: #6e6fff;
  transition: .4s;
}
input:checked + .slider:before {
  transform: translateX(-20px);
  background-color: #7b7b87;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* main */
.main {
  background-color: #2b2d3a;
}
.main-wrapper {
  padding: 0 55px;
  width: calc(100% - 280px);
  min-height: calc(100% - 80px);
  position: absolute;
  top: 80px;
  left: 280px;
  background-color: #2b2d3a;
  display: flex;
  flex-direction: column;
}
.nav-head {
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}
.nav-head-wrapper {
  left: 280px;
  position: fixed;
  background-color: #2b2d3a; 
  position: fixed;
  width: calc(100% - 280px);
  z-index: 100;
}
.nav-head__list {
  display: flex;
  gap: 20px;
  margin-top: 29px;
  margin-bottom: 29px;
}
.nav-head__line-vertical {
  width: 1px;
  background-color: #3d3f4b;
}
.nav-head__element {
  display: flex;
  align-items: center;
}
.nav-head__link {
  display: block;
}
.nav-head__text {
  color: #7b7b87;
  transition: .4s;
}
.nav-head__element:hover .nav-head__text {
  color: #fff;
  transition: .4s;
}
/* nav head info */
.nav-head__info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-head__progress-list {
  display: flex;
  gap: 10px;
}
.nav-head__progress-element {
  background-color: #3c3b49;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: .4s;
  display: flex;
  align-items: center;
}
.nav-head__progress-element:hover {
  background-color: #474652;
  transition: .4s;
}
.nav-head__progress-element:active {
  background-color: #3c3b49;
  transform: translateY(4px);
  transition: .4s;
}
.nav-head__progress-link {
  display: block;
}
.nav-head__progress-link-flex {
  display: flex;
  align-items: center;
}
.nav-head__progress-span1 {
  font-weight: 600;
}
.nav-head__progress-span2 {
  color: #7b7b87;
}
.nav-head__avatar {
  display: flex;
  gap: 10px;
}
.nav-head__avatar-link {
  display: flex;
}
.nav-head__avatar-text {
  color: #fff;
  transition: .4s;
}
.nav-head__avatar-link:hover .nav-head__avatar-text {
  color: #6e6fff;
  transition: .4s;
}
.nav-head__avatar-link:active .nav-head__avatar-text {
  color: #fff;
  transition: .4s;
}
.nav-head__avatar-image {
  width: 51px;
  height: 40px;
}
.nav-head__avatar-text-container {
  display: flex;
  flex-direction: column;
}
.nav-head__avatar-text {
  white-space: nowrap;
}
.nav-head__avatar-status-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-head__avatar-circle {
  fill: #25cb8d;
}
.nav-head__avatar-status {
  color: #25cb8d;
}
.nav-head__avatar-level {
  font-size: 11px;
  background-color: #6e6fff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  transition: .4s;
  height: fit-content;
}
.burger-input, .menu-list__input {
  display: none;
}
.burger-label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #3c3b49;
  background-color: #2b2d3a;
  border: none;
  position: fixed;
  right: 50px;
  top: 15px;
}
.burger-image {
  width: 30px;
  height: 30px;
}
/* lecture */
/* input */
.lecture-cards-input, .lecture-cards2-input {
  display: none;
}
.lecture__heading1 {
  color: #7b7b87;
  font-size: 11px;
  text-transform: uppercase;
  align-items: center;
}
.lecture__heading2 {
  font-size: 22px;
  text-transform: uppercase;
}
.lecture-container {
  user-select: none;
  position: relative;
}
.lecture-container2 {
  user-select: none;
  position: relative;
}
.lecture {
  display: grid;
  margin-top: 15px;
  width: 100%;
}
.lecture__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.lecture__button-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.prev1, .next1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 1px solid #7b7b87;
  cursor: pointer;
  transition: .4s;
}
.prev1:hover, .next1:hover {
  background-color: #3f4047;
  transition: .4s;
}
.prev1:active, .next1:active {
  background-color: #2b2d3a;
  transform: translateY(4px);
  transition: .4s;
}
.prev1__image, .next1__image {
  width: 10px;
  height: 10px;
}
.lecture__link-all {
  display: block;
  background-color: #6e6fff;
  width: 86px;
  height: 30px;
  white-space: nowrap;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: .4s;
  padding: 7px 12px 6px 13px;
  font-size: 12px;
}
.lecture__link-all-size {
  width: 89px;
  font-size: 13px;
  padding: 10px 19px 10px 18px;
}
.lecture__link-all:hover {
  background-color: #8888f8;
  transition: .4s;
}
.lecture__link-all:active {
  background-color: #6e6fff;
  transform: translateY(4px);
  transition: .4s;
}
#base-lect1 ,#base-lect2, #base-lect3, 
#advanced-lect1 ,#advanced-lect2 {
  display: none;
}
#base-i1:checked ~ #base-lect1, 
#advanced-i1:checked ~ #advanced-lect1 {
  display: grid;
}
#base-i1:checked ~ #base-lect1 .card-container, 
#advanced-i1:checked ~ #advanced-lect1 .card-container {
  animation-name: open;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
#base-i1:checked ~ #base-lect2, #base-i1:checked ~ #base-lect3,
#advanced-i1:checked ~ #advanced-lect2 {
  display: none;
}
#base-i2:checked ~ #base-lect2,
#advanced-i2:checked ~ #advanced-lect2 {
  display: grid;
}
#base-i2:checked ~ #base-lect2  .card-container,
#advanced-i2:checked ~ #advanced-lect2  .card-container {
  animation-name: open;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
#base-i2:checked ~ #base-lect1, #base-i2:checked ~ #base-lect3,
#advanced-i2:checked ~ #advanced-lect1 {
  display: none;
}
#base-i3:checked ~ #base-lect3 {
  display: grid;
}
#base-i3:checked ~ #base-lect3 .card-container {
  animation-name: open;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
#base-i3:checked ~ #base-lect1, #base-i3:checked ~ #base-lect2 {
  display: none;
} 
@keyframes open {
  0% {
    display: grid;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    display: grid;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes openMenu {
  0% {
    max-height: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    max-height: 100vh;
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
/* card */
.card {
  background-color: #393b48;
  border-radius: 5px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-image {
  aspect-ratio: 255 / 144;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-image1 {
  background-image: url("../images/lecture1.png");
}
.card-image2 {
  background-image: url("../images/lecture2.png");
}
.card-image3 {
  background-image: url("../images/lecture3.png");
}
.card-image4 {
  background-image: url("../images/lecture4.png");
}
.card-image-text {
  height: fit-content;
  width: 60px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  background-color: #6e6fff;
  position: absolute;
  top: 20px;
  left: 20px;
}
.card-text-container {
  height: 70px;
}
.card__text1 {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}
.card__text2 {
  color: #7b7b87;
  padding-left: 15px;
  padding-right: 15px;
}
.card-date-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.card__date {
  font-size: 13px;
}
/* media quiries */
@media (max-width: 1310px) {
  .card-text-container {
    height: 95px;
  }
}
@media (max-width: 1160px) {
  .card-text-container {
    height: 115px;
  }
}
  @media (max-width: 1190px) {
  .card-date-button-container, 
  .card__text1, 
  .card__text2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-image-text {
    top: 10px;
    left: 10px;
  }
}
@media (max-width: 1155px) {
  .nav-head__progress-list {
    display: none;
  }
}
  @media (max-width: 1115px) {
  .card-container {
    grid-template-columns: repeat(2,1fr);
  }
  .card-text-container {
    height: 95px;
  }
  .card-date-button-container, 
  .card__text1, 
  .card__text2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-image-text {
    top: 20px;
    left: 20px;
  }
  
}
@media (max-width: 810px) {
  .menu {
    display: none;
  }
  .nav-head-wrapper {
    left: 0;
    width: 100%;
  }
  .main-wrapper {
    left: 0;
    width: 100%;
  }
  .nav-head__info {
    margin-right: 45px;
  }
  .burger-label {
    display: flex;
    z-index: 101;
  }
  .burger-input:checked ~ .menu {
    display: block;
    z-index: 101;
  }
}
@media (max-width: 575px) {
  .nav-head__avatar-text-container {
    display: none;
  }
  .nav-head__avatar {
    gap: 5px;
  }
}
  @media (max-width: 515px) {
  .nav-head {
    padding-left: 15px;
    padding-right: 15px;
  }
  .burger-label {
    right: 15px;
  }
  .main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 414px) {
  .nav-head__avatar-level {
    display: none;
  }
}